<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th>
      <%= link_to(following_user_path(user)) do %>
        <%= user.following.count %>
      <% end %>
    </th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th>
      <%= link_to(followers_user_path(user)) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>
<div>
  <a>
  <% if user == current_user %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", relationship_path(current_user.active_relationships.find_by(followed_id: user.id)),class: 'btn btn-success', method: :delete %>
    <% else %>
      <%= link_to "フォローする", relationships_path(followed_id: user.id),class: 'btn btn-success', method: :post %>
    <% end %>
  <% end %>
  </a>
  <% unless user.id == current_user.id %>
  <% if (current_user.following? user) && (user.following? current_user) %>
    <% if @isRoom == true %>
    <a href="/rooms/<%= @roomId %>">chatへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: user.id %>
      <% end %>
      <%= f.submit 'chatを始める' %>
    <% end %>
  <% end %>
  <% end %>
  <% end %>
</div>